In [3]:
import numpy as np
import pandas as pd
import tensorflow as tf

from tensorflow.keras import layers

In [4]:
df = pd.read_csv('../src/output/alunos_dummies.csv')
df.head()

,numero_faltas,freq_turma,media_final,status_0,status_1,status_2,nome_ccr_Algoritmos e programação - GEX003,nome_ccr_Banco de dados I - GEX090,nome_ccr_Banco de dados II - GEX091,nome_ccr_Circuitos digitais - GEN253,...,nome_docente_ROSANE ROSSATO BINOTTO (60),nome_docente_RUBI GARCIA VIEIRA (60),nome_docente_SAMUEL DA SILVA FEITOSA (60),nome_docente_SANDRA LÚCIA MALTAURO (60),nome_docente_TAINARA VOLAN (60),nome_docente_TATIANE SILVA TAVARES MAIA (60),nome_docente_VALDETE BONI (60),nome_docente_VANESSA NEUMANN SILVA (60),nome_docente_VICENTE NEVES DA SILVA RIBEIRO (60),nome_docente_VITOR JOSE PETRY (60)
0,7.0,88.33,6.4,True,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2.0,96.67,7.9,True,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,6.0,90.00,7.6,True,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3.0,95.00,2.6,False,True,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2.0,96.67,3.4,False,True,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
train, val, test = np.split(df.sample(frac=1), [int(.6*len(df)), int(.8*len(df))])